.App {

}

.Row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
}

.Field {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  outline: 1px solid gray;
  background: white;
  text-align: center;
}

.ValueField {
  color: lightcyan;
}

.Hint {
  background: gray;
}

.EmptyHint {
  background: white;
}