.App {

}

.Timer {
  position: absolute;
  color: gray;
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 5em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
}

.Field {
  display: flex;
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  outline: 1px solid gray;
  background: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.RowComplete {
  opacity: 0.3;
}

.ColComplete {
  opacity: 0.3;
}

.ValueField {
  color: lightcyan;
}
.ValueField:nth-of-type(6n+0) {
  border-left: 1px solid gray;
}

.Hint {
  background: gray;
}

.EmptyHint {
  background: white;
}